/*partials*/
/*header scss*/
/*header*/
header {
    grid-area:auto }
/*partials*/
 /*header scss*/
/* De h1 a h6*/  
h1 {
    color:white;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 60px;
}    
h2 {
    color:white;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
}
h3 {
    color:white;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 50px;
}    
h4 {
    color:black;
    text-align: center;
    font-size: 25px;
    font-style:unset;
    text-decoration: underline; 
}
h5 {
    color:black;
    text-align: center;
    font-size: 25px;
    font-style:unset;
}
h6 {
    color:crimson;
    text-align: center;
    font-size: 25px;
    font-style:unset;
    text-decoration:underline;    
}
/*partials*/
 /*header scss*/
/* p*/
p {
    color:white;
    text-align:center;
    text-transform: capitalize; 
    font-size: 20px;
}
/*partials*/
 /*header scss*/
/* nav*/
nav {
    justify-content: center;
    display:flex;
    transform:translate(-350px, 1px);
}
/*partials*/
 /*header scss*/
/*a*/  
a {
    display:flex;   
}      