/*animations scss*/
/*transformaciones*/
.centrovideo {
    transform:translate(-2px, 5px);
}    
.moveright {
    transform:translate(2px, 100px);
}
.logo {
    transform:translate(-1220px,38px);
} 
.centro {
    transform:translate(1px, 15px)   
}
