/*misc*/  
/*normalize*/
/*a*/
a {
    color:rgb(161, 158, 158);
    text-align:center;
    font-size: 20px;
    justify-content: center;
    display:flex;
    list-style: none;
    text-decoration: none;
    line-height: 5.9; 
    transform:translate(350px, -25px);
}
/*misc*/  
/*normalize*/
/*ul*/
ul {
    color: white;
    text-align:center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-style:calc(1,1);
    font-size: 20px;  
}
/*misc*/  
/*normalize*/
/*img*/
img {
    flex-direction:row;
    padding: 4px;
}
/*misc*/
/*normalize*/
/*body*/
body {
    background: linear-gradient(to left, #485563, #29323c);
}
/*misc*/
/*normalize*/
/*body*/
body {
    display:block;
    grid-template-rows:min-content 10fr;
    min-height: 1000vh; 
}
/*misc*/
/*normalize*/
/*html*/
html {
    font-size: 62,5%;
}
/*misc*/
/*normalize*/
/*span*/
span {
    color:white;
    text-align:center;
    text-transform: capitalize; 
    font-size: 19px;
    font-style:calc(1,1);
}
/*misc*/
/*normalize*/
/*li*/
li {
    text-align:center;
}
/*misc*/
/*normalize*/
/*form*/
form {
    color:black;
    text-align: center;
    font-size: 30px;
    font-style:unset;
} 


